html, body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode';
    font-size: 90%;
    background: rgb(255,240,170);
    background: linear-gradient rgba(255,240,170,1) 

}
li {
    list-style-image: url("img/i2.png");
    line-height: 1.6em;
    margin: 3px;
}

h1{
    text-align: center;
}

p{  text-align: center;}

ul li {
    margin-left: 31%;

}

table {
    border-spacing: 0px;
    margin-left: 30%;
    
    
}

th, td {
    padding: 5px 30px 5px 10px;
    border-spacing: 0px;
    font-size: 90%;
    margin: 0px;
}
        
th, td {
    text-align: left;
    background-color: #f0ece0;
    border-top: 1px solid #f0ece0;
    border-bottom: 1px solid #ffd739;
    border-right: 1px solid #ffd739;
}

tr.head th {
    color: #fff;
    background-color: #dfb021;
    border-bottom: 2px solid #ad9651;
    border-right: 1px solid #fff2c9;
    border-top: 1px solid #ffedb8;
    text-align: center;
    text-shadow: -1px -1px 1px #666666;
    letter-spacing: 0.15em;
}
td {
    text-shadow: 1px 1px 1px #ffffff;
}

tr.even td, tr.even th {
    background-color: #e8eff5;
}

tr.head th:first-child {
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}

tr.head th:last-child {
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

fieldset {
    width: 310px;
    margin-top: 20px;
    border: 1px solid whitesmoke;
    background-color: #f5f1ca;
    line-height: 1.6em;
    margin-left: 30%;
}

legend {
    font-style: italic;
    color: #666666;
    
}

input[type="text"] {
    width: 120px;
    border: 1px solid #d6d6d6;
    padding: 2px;
    outline: none;
    
}

input[type="text"]:focus,
input[type="text"]:hover {
    background-color: #95c8f0;
    border: 1px solid #1174c1;
}

input[type="submit"] {
    border: 1px solid #ad9651;
    background-color:  #2bd1ff;
    color: #310606;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

input[type="submit"]:hover {
    border: 1px solid #2bbfe4;
    background-color: #0095ff;
    color: #16d6eb;
    cursor: pointer;
}


.title {
    float: left;
    width: 160px;
    clear: left;
}
.submit {
    width: 310px;
    text-align: right;
    margin-left: 30%;
}